openapi: 3.0.0
info:
  title: TestMu AI SmartUI API Documentation Autoheal Command Logs Fetch Build Screenshots API
  version: 1.0.1
servers:
- url: https://api.lambdatest.com/automation/smart-ui
- url: https://eu-api.lambdatest.com/automation/smart-ui
tags:
- name: Fetch Build Screenshots
paths:
  /build/screenshots:
    get:
      tags:
      - Fetch Build Screenshots
      summary: Fetch SmartUI build screenshots by project_id and build_id
      description: 'This API fetches all screenshots of a particular build with comparison details. **Note:** When both `build_id` and `build_name` are provided in the request, `buildId` will be given priority over `buildName`.

        '
      parameters:
      - name: project_name
        in: query
        description: The name of the particular project (project id can also be used)
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: project_id
        in: query
        description: Unique identifier of the project (project name can also be used)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: build_name
        in: query
        description: Build name can also be used instead of build Id (Optional)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: build_id
        in: query
        description: Fetches all the screenshots of a particular build
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: baseline
        in: query
        description: Fetches the screenshots of the baseline build of the project
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: screenshot_name
        in: query
        description: Fetches details of a specific screenshot
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildScreenshotResponse'
        400:
          description: Either Screenshot don't exist or bad input specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildScreenshotError'
      security:
      - basicAuth: []
      servers:
      - url: https://api.lambdatest.com/smartui/2.0
components:
  schemas:
    BuildScreenshotResponse:
      type: object
      properties:
        screenshots:
          type: array
          items:
            $ref: '#/components/schemas/BuildScreenshotProperties'
        build:
          type: object
          properties:
            build_id:
              type: string
              example: c74f72b5-2dd9-42a4-9478-cd8174a56152
            name:
              type: string
              example: build-1
            baseline:
              type: boolean
              example: false
            build_status:
              type: string
              example: Approved
        project:
          type: object
          properties:
            project_id:
              type: string
              example: ed2ee7bc-d90d-4719-91a7-19636de5a590
            name:
              type: string
              example: web-project
            username:
              type: string
              example: dummy
    BuildScreenshotError:
      type: object
      properties:
        error:
          type: string
          example: smartui project not found for specified input
    BuildScreenshotProperties:
      type: object
      properties:
        screenshot_name:
          type: string
          example: first
        captured_image:
          type: string
          example: URL
        baseline_image:
          type: string
          example: URL
        compared_image:
          type: string
          example: URL
        browser_name:
          type: string
          example: chrome
        browser_version:
          type: string
          example: '118.0'
        viewport:
          type: string
          example: 1920x1080
        os:
          type: string
          example: default
        mismatch_percentage:
          type: number
          example: 0.1
        status:
          type: string
          example: Approved
        approved_by:
          type: string
          example: dummy
        captured_image_timestamp:
          type: string
          example: '2023-11-10 13:47:24'
        compared_image_timestamp:
          type: string
          example: '2023-11-10 13:47:29'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
