openapi: 3.2.0
info:
  title: TestMu AI Selenium Automation API Documentation Platforms…
  version: 1.0.2
servers:
- url: https://api.lambdatest.com/automation/api/v1
- url: https://api.lambdatest.com/automation/api/v2
  description: V2
- url: https://eu-api.lambdatest.com/automation/api/v1
- url: https://eu-api.lambdatest.com/automation/api/v2
tags:
- name: Platforms
paths:
  /platforms:
    get:
      tags:
      - Platforms
      summary: Fetch platforms
      description: Fetch platforms along with browsers and versions supported.
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformResponse'
      operationId: getPlatforms
      x-operation-id-source: derived
components:
  schemas:
    BrowserResponse_data:
      type: object
      properties:
        browser_name:
          type: string
        version:
          type: string
        type:
          type: string
        slug:
          type: string
    PlatformResponse_data:
      type: object
      properties:
        platform:
          type: string
        browsers:
          type: array
          items:
            $ref: '#/components/schemas/BrowserResponse_data'
    GetPlatformResponse:
      type: object
      properties:
        message:
          type: string
          example: Retrieve platforms was successful.
        status:
          type: string
          example: success
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PlatformResponse_data'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
