openapi: 3.2.0
info:
  title: TestMu AI Selenium Automation API Documentation Lighthouse…
  version: 1.0.2
servers:
- url: https://api.lambdatest.com/automation/api/v1
- url: https://api.lambdatest.com/automation/api/v2
  description: V2
- url: https://eu-api.lambdatest.com/automation/api/v1
- url: https://eu-api.lambdatest.com/automation/api/v2
tags:
- name: Lighthouse
paths:
  /lighthouse/report/{session_id}:
    get:
      tags:
      - Lighthouse
      summary: To fetch the Lighthouse performance report data
      description: To fetch URL to download the generated Lighthouse performance report JSON data.
      parameters:
      - name: session_id
        in: path
        description: SESSION ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LighthouseReportResponse'
        400:
          description: Bad Request. Conditional combination of 'chrome' browser & capability 'performance=true' is not there.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Please provide valid inputs. Conditional combination of 'chrome' browser & capability 'performance=true' is not satisfied for the test associated with the given sessionId.
                  status:
                    type: string
                    example: fail
        401:
          description: Access denied. Auth error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        404:
          description: Resource associated to session_id is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionNotFound'
        500:
          description: Unable to get Lighthouse report data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unable to get Lighthouse report data.
                  status:
                    type: string
                    example: fail
      security:
      - basicAuth: []
      operationId: getLighthouseReportBySessionId
      x-operation-id-source: derived
components:
  schemas:
    SessionNotFound:
      type: object
      properties:
        message:
          type: string
          example: Either resource not found or already deleted
        status:
          type: string
          example: fail
    AccessDenied:
      type: string
      example: 'HTTP Basic: Access denied.'
    LighthouseReportResponse:
      type: object
      properties:
        message:
          type: string
          example: Retrieve Lighthouse Report data was successful.
        status:
          type: string
          example: success
        data:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
