openapi: 3.2.0
info:
  title: TestMu AI Selenium Automation API Documentation…
  version: 1.0.2
servers:
- url: https://api.lambdatest.com/automation/api/v1
- url: https://api.lambdatest.com/automation/api/v2
  description: V2
- url: https://eu-api.lambdatest.com/automation/api/v1
- url: https://eu-api.lambdatest.com/automation/api/v2
tags:
- name: Organisation
paths:
  /org/concurrency:
    get:
      tags:
      - Organisation
      summary: Get organisation concurrency
      description: This API fetches the organisation level concurrency
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgConcurrency'
        400:
          description: Invalid request to fetch org concurrency
        401:
          description: Access denied. Auth error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
      security:
      - basicAuth: []
      operationId: getOrgConcurrency
      x-operation-id-source: derived
components:
  schemas:
    GetOrgConcurrency:
      type: object
      properties:
        data:
          type: object
          properties:
            queued:
              type: integer
              example: 100
            running:
              type: integer
              example: 100
        status:
          type: string
          example: success
    AccessDenied:
      type: string
      example: 'HTTP Basic: Access denied.'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
